{% extends "layouts/base.html" %}
{% block styles %}
  <style>
  .table tbody th,
  .table tbody td {
      font-weight: normal;
  }
  </style>
{% endblock %}
{% block content %}
{% for msg in get_flashed_messages() %}
{% if msg == 'Страница уже существует' %}
    <div class="alert alert-info" role="alert">{{ msg }}</div>
{% elif msg == 'Страница успешно добавлена'%}
    <div class="alert alert-success" role="alert">{{ msg }}</div>
{% endif %}
{% endfor %}
  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайт: {{ record.url }}</h1>

    
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ record.id }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ record.url }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ record.created_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="/urls/{{ record.id }}/checks">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    
  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
    {% for check in checks %}
      <tr>
        <th>{{ check.id }}</th>
        <th>{{ check.status_code }}</th>
        <th>{{ check.h1 }}</th>
        <th>{{ check.title }}</th>
        <th>{{ check.description }}</th>
        <th>{{ check.created_at }}</th>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

    </div>
  </main>
{% endblock %}