{% extends "layouts/base.html" %}
{% block content %}
  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайты</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
          </tr>
        </thead>
          <tbody>
            {% for site in data %}
            <tr>
              <td>{{ site.id }}</td>
              <td>
                <a href="/urls/{{ site.id }}">
                {{ site.url }}
                </a>
              </td>
              <td>{{ site.created_at | default('', true)}}</td>
              <td>{{ site.status_code | default('', true)}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    </div>
  </main>
{% endblock %}